@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

/* globals.css */
.tilt-element {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: transform 0.1s;
}



.tilt-element {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: transform 0.1s;
}

/* For the marquee */
.react-fast-marquee {
  padding: 1rem 0;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
  display: inline-flex;
}


